
:root {
  --yellow: #FDC913;
  --gray:   #5F5F5F;
  --dark:   #292929;
  --red:    #CE2829;
  --beige:  #FAF7F2;
}


html, body, #root {
  height: 100%;
}

body {
  background: var(--beige);
  color: var(--dark);
 
  font-family: "Barlow", "Roboto Condensed", system-ui, -apple-system, Arial, sans-serif;
  line-height: 1.5;
}

main {
  padding: 24px 16px;
}
